---
import BornToBuildAndDeliver from '../BornToBuildAndDeliver.astro';
---
<section class="hero">
    <h1>
        <BornToBuildAndDeliver />
        <small>
            Pressione <kbd id="keyCommand">⌘</kbd><kbd>K</kbd> para começar <strong>→</strong>
        </small>
    </h1>
</section>

<script is:inline>
    (function keyCommandByPlatform() {
        'use strict';

        const isMacIntel = window.navigator.platform === 'MacIntel';
        const keyCommand = document.querySelector('#keyCommand');
        if(isMacIntel || !keyCommand) return;

        keyCommand.innerHTML = '^';
    })();
</script>

<style lang="scss">
    @import '../../styles/breakpoints';

    .hero {
        width: 100%;
        height: 100vh;
        display: flex;
        text-align: center;
        align-items: center;

        kbd {
            border-radius: 4px;
            padding: 6px 10px;
            margin: 0 2px;
            background-color: var(--dark);
            font-size: 20px;
        }
    }

    .hero {
        h1 {
            margin: auto;

            small {
                display: block;
                text-align: center;
                font-size: 1rem;
                font-weight: 200;
                margin: .5rem 0 0;

                @include media-breakpoint-down(sm) {
                    font-size: .725rem;
                }
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.052rem;
            }
        }
    }
</style>
