---
import BornToBuildAndDeliver from '../BornToBuildAndDeliver.astro';
// import KbarButton from '../react/Kbar/KbarButton.jsx';
---
<section class="hero">
    <h1>
        <BornToBuildAndDeliver />
        <small>
            Pressione <kbd id="keyCommand">⌘</kbd><kbd id="keyShortuCut1">K</kbd> para começar <strong>→</strong>
            <!-- <KbarButton client:only="react" /> -->
        </small>
    </h1>
</section>

<script is:inline>
    (function() {
        'use strict';

        (function keyCommandByPlatform() {
            const isMac = /(Mac)/i.test(navigator.userAgent);
            // const isMobile = /iPhone|iPad|Android/i.test(navigator.userAgent);
            const keyCommand = document.querySelector('#keyCommand');
            if(isMac || !keyCommand) return;

            keyCommand.innerHTML = '^';
        })();

        // (function mobResizing() {
        //     const size = 960;
        //     let smallThenSize = false;

        //     const keyCommand = document.querySelector('#keyCommand');
        //     window.addEventListener('resize', function() {
        //         if (window.innerWidth < size && !smallThenSize) {
        //             keyCommand.innerHTML = 'aqui';
        //             smallThenSize = true;
        //         } else if(window.innerWidth >= size && smallThenSize) {
        //             keyCommand.innerHTML = '⌘';
        //             smallThenSize = false;
        //         }
        //     });
        // })();
    })();
</script>

<style lang="scss">
    @import '../../styles/breakpoints';

    .hero {
        width: 100%;
        height: 100vh;
        display: flex;
        text-align: center;
        align-items: center;

        kbd {
            border-radius: 4px;
            padding: 6px 10px;
            margin: 0 2px;
            background-color: var(--dark);
            font-size: 20px;
        }
    }

    .hero {
        padding: 1rem;

        h1 {
            margin: auto;

            small {
                display: block;
                text-align: center;
                font-size: 1rem;
                font-weight: 200;
                margin: .5rem 0 0;

                @include media-breakpoint-down(sm) {
                    font-size: .725rem;
                }
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.052rem;
            }
        }
    }

    #keyShortuCut1 {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
</style>
