---
import BornToBuildAndDeliver from '../BornToBuildAndDeliver.astro';
// import KbarButton from '../react/Kbar/KbarButton.jsx';

interface Props {
    title: String,
    description: String
};

const { title, description } = Astro.props;
---
<section class="hero">
    <h1>
        <BornToBuildAndDeliver title={title} />
        <small id="shortcut" set:html={description} />
    </h1>
</section>

<script is:inline>
    (function() {
        'use strict';

        (function keyCommandByPlatform() {
            const isMac = /(Mac)/i.test(navigator.userAgent);

            const keyCommand = document.querySelector('#keyCommand');
            if(isMac || !keyCommand) return;

            keyCommand.innerHTML = '^';
        })();

        (function () {
            const isMobile = /iPhone|iPad|Android/i.test(navigator.userAgent);

            if(!isMobile) return;
            document.querySelector('#shortcut')?.remove();
        })();
    })();
</script>

<style lang="scss" is:global>
    @import '../../styles/breakpoints';

    $headerHeight: 80px;

    .hero {
        width: 100%;
        height: calc(100vh - $headerHeight);
        display: flex;
        text-align: center;
        align-items: c enter;

        kbd {
            border-radius: 4px;
            padding: 6px 10px;
            margin: 0 2px;
            background-color: var(--dark);
            font-size: 20px;
        }
    }

    .hero {
        padding: 1rem;

        h1 {
            margin: auto;

            small {
                display: block;
                text-align: center;
                font-size: 1rem;
                font-weight: 200;
                margin: .5rem 0 0;

                @include media-breakpoint-down(sm) {
                    font-size: .725rem;
                }
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.052rem;
            }
        }
    }

    #keyShortuCut1 {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
</style>
