---
import i18nConf from '../../../i18n/config';
import Default from "../../../layouts/Default.astro";
import CopyButton from "../../../components/vue/CopyButton.vue";

export async function getStaticPaths() {
    return i18nConf.langs.map(lang => {
        return {
            params: {
                lang: lang
            },
            props: {
                lang: lang
            }
        }
    });
};

// const { lang } = Astro.props;

const bioText = "Robson Júnior atua como Senior Software Engineer na empresa \
Azion Technologies no time UX Engineering. Passou também \
pelos times: Experience Engineering, Marketing Engineering,  \
Core Services e anteriormente focado em aplicaçao RUM (Real User \
Monitoring/Measuring) pelo time de Routing Services. Possui \
também histórico na empresa Terra Networks no time de Tecnologia \
em Porto Alegre. Lá passou por experiências nos times de: SVA, \
Tecnologia Portal, Entertenimento e Tecnologia de E-mail. Como \
último passo, teve a oportunidade fazer parte da criação do \
primeiro time Full Dev-Ops."
---

<Default>
    <section class="hero center-content">
        <div class="figure-content">
            <figure>
                <img
                    fetchpriority="high"
                    src="/static/images/pages/sobre/robsonjunior-profile.jpeg"
                    alt="Robson Júnior em seu habitati natural, uma sala escura e um Mac a sua frente!"
                />
            </figure>
            <a
                href="https://www.linkedin.com/in/robsongajunior/"
                title="Linked In | @robsongajunior"
                target="_blank">

                <svg
                    width="40"
                    height="40"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">

                    <rect x="2" y="2" width="28" height="28" rx="14" fill="#1275B1"/>
                    <path d="M12.6186 9.69215C12.6186 10.6267 11.8085 11.3843 10.8093 11.3843C9.81004 11.3843 9 10.6267 9 9.69215C9 8.7576 9.81004 8 10.8093 8C11.8085 8 12.6186 8.7576 12.6186 9.69215Z" fill="white"/>
                    <path d="M9.24742 12.6281H12.3402V22H9.24742V12.6281Z" fill="white"/>
                    <path d="M17.3196 12.6281H14.2268V22H17.3196C17.3196 22 17.3196 19.0496 17.3196 17.2049C17.3196 16.0976 17.6977 14.9855 19.2062 14.9855C20.911 14.9855 20.9008 16.4345 20.8928 17.5571C20.8824 19.0244 20.9072 20.5219 20.9072 22H24V17.0537C23.9738 13.8954 23.1508 12.4401 20.4433 12.4401C18.8354 12.4401 17.8387 13.1701 17.3196 13.8305V12.6281Z" fill="white"/>
                </svg>
            </a>
            <a
                href="https://speakerdeck.com/robsongajunior/"
                title="Speaker Deck | @robsongajunior"
                target="_blank">

                <svg
                    width="40px"
                    height="40px"
                    viewBox="0 -48 256 256"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    preserveAspectRatio="xMidYMid">

                    <g>
                        <path d="M106.932331,100 L50,100 C22.3857624,100 0,77.6142376 0,50 C0,22.3857624 22.3857624,0 50,0 L116.421053,0 C127.466748,0 136.421053,8.9543048 136.421053,20 C136.421053,31.0456952 127.466748,40 116.421053,40 L48.977444,40 C43.454596,40 38.977444,44.4771528 38.977444,50 C38.977444,55.5228472 43.454596,60 48.977444,60 L105.909774,60 C133.524012,60 155.909774,82.3857624 155.909774,110 C155.909774,137.614238 133.524012,160 105.909774,160 L20,160 C8.9543048,160 0,151.045695 0,140 C0,128.954305 8.9543048,120 20,120 L106.932331,120 C112.455178,120 116.932331,115.522847 116.932331,110 C116.932331,104.477153 112.455178,100 106.932331,100 Z M149.013633,160 C162.31303,151.005667 171.818454,136.66797 174.567639,120 L206.843433,120 C212.273117,120 216.674746,115.522847 216.674746,110 L216.674746,50 C216.674746,44.4771528 212.273117,40 206.843433,40 L148.210526,40 C152.880793,34.6924352 155.720602,27.683544 155.720602,20 C155.720602,12.316456 152.880793,5.3075648 148.210526,0 L216.674746,0 C238.393484,0 256,17.9086104 256,40 L256,120 C256,142.09139 238.393484,160 216.674746,160 L149.013633,160 Z" fill="#009287"></path>
                    </g>
                </svg>
            </a>
            <a
                href="https://www.instagram.com/robson.ga.junior/"
                title="Instagram | @robson.ga.junior"
                target="_blank">

                <svg
                    width="40px"
                    height="40px"
                    viewBox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">

                    <circle cx="24" cy="24" r="20" fill="#C13584"/>
                    <path d="M24 14.1622C27.2041 14.1622 27.5837 14.1744 28.849 14.2321C30.019 14.2855 30.6544 14.481 31.0773 14.6453C31.6374 14.863 32.0371 15.123 32.457 15.5429C32.877 15.9629 33.137 16.3626 33.3547 16.9227C33.519 17.3456 33.7145 17.981 33.7679 19.1509C33.8256 20.4163 33.8378 20.7958 33.8378 23.9999C33.8378 27.2041 33.8256 27.5836 33.7679 28.849C33.7145 30.019 33.519 30.6543 33.3547 31.0772C33.137 31.6373 32.877 32.0371 32.4571 32.457C32.0371 32.8769 31.6374 33.1369 31.0773 33.3546C30.6544 33.519 30.019 33.7144 28.849 33.7678C27.5839 33.8255 27.2044 33.8378 24 33.8378C20.7956 33.8378 20.4162 33.8255 19.151 33.7678C17.981 33.7144 17.3456 33.519 16.9227 33.3546C16.3626 33.1369 15.9629 32.8769 15.543 32.457C15.1231 32.0371 14.863 31.6373 14.6453 31.0772C14.481 30.6543 14.2855 30.019 14.2321 28.849C14.1744 27.5836 14.1622 27.2041 14.1622 23.9999C14.1622 20.7958 14.1744 20.4163 14.2321 19.1509C14.2855 17.981 14.481 17.3456 14.6453 16.9227C14.863 16.3626 15.123 15.9629 15.543 15.543C15.9629 15.123 16.3626 14.863 16.9227 14.6453C17.3456 14.481 17.981 14.2855 19.151 14.2321C20.4163 14.1744 20.7959 14.1622 24 14.1622ZM24 12C20.741 12 20.3323 12.0138 19.0524 12.0722C17.7752 12.1305 16.9028 12.3333 16.1395 12.63C15.3504 12.9366 14.6812 13.3469 14.0141 14.0141C13.3469 14.6812 12.9366 15.3504 12.63 16.1395C12.3333 16.9028 12.1305 17.7751 12.0722 19.0524C12.0138 20.3323 12 20.741 12 23.9999C12 27.259 12.0138 27.6676 12.0722 28.9475C12.1305 30.2248 12.3333 31.0971 12.63 31.8604C12.9366 32.6495 13.3469 33.3187 14.0141 33.9859C14.6812 34.653 15.3504 35.0633 16.1395 35.3699C16.9028 35.6666 17.7752 35.8694 19.0524 35.9277C20.3323 35.9861 20.741 35.9999 24 35.9999C27.259 35.9999 27.6677 35.9861 28.9476 35.9277C30.2248 35.8694 31.0972 35.6666 31.8605 35.3699C32.6496 35.0633 33.3188 34.653 33.9859 33.9859C34.653 33.3187 35.0634 32.6495 35.37 31.8604C35.6667 31.0971 35.8695 30.2248 35.9278 28.9475C35.9862 27.6676 36 27.259 36 23.9999C36 20.741 35.9862 20.3323 35.9278 19.0524C35.8695 17.7751 35.6667 16.9028 35.37 16.1395C35.0634 15.3504 34.653 14.6812 33.9859 14.0141C33.3188 13.3469 32.6496 12.9366 31.8605 12.63C31.0972 12.3333 30.2248 12.1305 28.9476 12.0722C27.6677 12.0138 27.259 12 24 12Z" fill="white"/>
                    <path d="M24.0059 17.8433C20.6026 17.8433 17.8438 20.6021 17.8438 24.0054C17.8438 27.4087 20.6026 30.1675 24.0059 30.1675C27.4092 30.1675 30.1681 27.4087 30.1681 24.0054C30.1681 20.6021 27.4092 17.8433 24.0059 17.8433ZM24.0059 28.0054C21.7968 28.0054 20.0059 26.2145 20.0059 24.0054C20.0059 21.7963 21.7968 20.0054 24.0059 20.0054C26.2151 20.0054 28.0059 21.7963 28.0059 24.0054C28.0059 26.2145 26.2151 28.0054 24.0059 28.0054Z" fill="white"/>
                    <path d="M31.8507 17.5963C31.8507 18.3915 31.206 19.0363 30.4107 19.0363C29.6154 19.0363 28.9707 18.3915 28.9707 17.5963C28.9707 16.801 29.6154 16.1562 30.4107 16.1562C31.206 16.1562 31.8507 16.801 31.8507 17.5963Z" fill="white"/>
                </svg>
            </a>
        </div>
        <div class="description">
            <h1>
                Build, Deliver <small>and</small> Repeat
            </h1>
            <p>
                Olá, me chamo <strong>Robson Júnior</strong>.
                <br />
                Iniciei como web engineer em 2014, trabalhando com animações CSS3.
            </p>
            <p>
                Atualmente trabalho como Sênior Sofware Engineer na <a href="https://www.azion.com/pt-br/" target="_blank">Azion Technologies</a>.
                <br />
                Antes disso, trabalhei como Software Developer e Front-End
                Engineer no portal <a href="httpds://www.terra.com.br" target="_blank">Terra Networks</a>.
            </p>
            <p>
                Sou Brasileiro, natural de Gramado residente da Capital gaúcha.
            </p>
            <p>
                Apaixonado por web, browser applications, chrome extensions e
                open source. Quando não estou trabalhando estou praticando algum
                exercício físico e me conectando com diferentes experiências.
            </p>
        </div>
    </section>

    <section class="bio">
        <div class="center-content">
            <h2>
                Bio
            </h2>
            <div class="bio-content">
                <blockquote>
                    { bioText }
                </blockquote>
                <CopyButton content={ bioText } client:load />
            </div>
        </div>
    </section>

    <section class="projects">
        <div class="center-content">
            <h2>Últimas entregas</h2>
            <p>
                Gosto muito de uma frase citada por <a target="_blank" href="https://www.google.com/search?gs_ssp=eJzj4tDP1TcwSc9LM2D04svJzCstVijJLypLzEkpBgBq1wjA&q=linus+torvalds&rlz=1C5CHFA_enBR1040BR1040&oq=Linus+&gs_lcrp=EgZjaHJvbWUqCggCEC4YsQMYgAQyBggAEEUYOTIKCAEQLhixAxiABDIKCAIQLhixAxiABDINCAMQABiDARixAxiABDIHCAQQABiABDIHCAUQABiABDIHCAYQLhiABDIHCAcQABiABDINCAgQLhjHARjRAxiABDIHCAkQABiPAtIBCTE0MTAzajBqN6gCALACAA&sourceid=chrome&ie=UTF-8">Linus Torvalds</a>:
                <br>
                <strong>
                    - Talk is cheap, show me the code.
                </strong>
            </p>

            <ul class="card-list">
                <li class="card">
                    <div class="card-content">
                        <h3>Azion Pulse Live Test</h3>
                        <p>
                            Live Test do <a href="https://www.azion.com/pt-br/produtos/edge-pulse/" target="_blank">Azion Pulse</a>. Dados da última milha mostrado de forma visual,
                            dados de client, resolver e  timings por Edge Location executando um teste de Avaiability e Response Time.
                        </p>
                        <a
                            href="https://www.azion.com/pt-br/produtos/edge-pulse/teste/"
                            title="Azion Pulse Live Test"
                            target="_blank">

                            ver projeto
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-content">
                        <h3>Azion Docs</h3>
                        <p>
                            Migração de Jekyll para Astro com objetivo de se tornar
                            agnóstico a component library, suportanto mdx e
                            dispobibilizando novos componntes para serem facilmente
                            consumidos pelos writes.
                        </p>
                        <a
                            href="https://docs.azion.com/"
                            title="Azion Documentation"
                            target="_blank">

                            ver projeto
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-content">
                        <h3>Ask Azion</h3>
                        <p>
                            Ask Azion é uma Inteligencia Artifical ainda no modo Beta com finalidades experimentais e de
                            aprendizado para melhorarmos pontos importantes de
                            documentação, atendimento, getting started e vários
                            outros interesses.
                        </p>
                        <a
                            href="https://www.azion.com/en/ask-azion"
                            title="Ask Azion"
                            target="_blank">

                            ver projeto
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-content">
                        <h3>Resource Hub</h3>
                        <p>
                            Com uma arquitetura JAM Stack primeiro projeto da Azion
                            utilizando Astro, agnóstico component library consumindo
                            Azion Edge Functions API. Um Portal de recursos de gerados pela Azion.
                        </p>
                        <a
                            href="https://www.azion.com/pt-br/resource-hub/"
                            title="Azion Resource Hub"
                            target="_blank">

                            ver projeto
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-content">
                        <h3>Live map</h3>
                        <p>
                            Projeto iniciado na Black Friday 2022 com objetivo de um
                            formato fácil temos uma interpretação de imporantes
                            dados ocorrendo sobre infra-estrutura da Azion.
                        </p>
                        <a
                            href="https://www.azion.com/pt-br/live-map/"
                            title="Azion Live Map"
                            target="_blank">

                            ver projeto
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="talks">
        <div class="center-content">
            <h2>Últimas palestras</h2>
            <p>
                Tenho uma paixão enorme por compartilhar sobre o meu trabalho,
                <br>
                técnicas e conhecimentos que acredito que devem ser compartilhados.
            </p>
            <p>
                Ao longo desses mais de 10 anos de carreira tive oportunidade de passar por diversos eventos como palestrante, alguns deles foram:
                <br>
                OGUFERS, SucesuRS, Senac Talks, TDC, EATI, BrazilJS On The Road (Belo Horizonte), Front-In-Poa entre outros.
            </p>
            <p>
                Também fui também como prestigiador:
                <br>
                JS Conf Argentina, Front-In-Aracaju, Front-In-Sampa, Criciuma Dev, Python Brasil, TDC, RSJS e por aí vai indo, lista é grande!
            </p>
            <ul class="card-list">
                <li class="card">
                    <div class="card-content">
                        <h3>Construindo o futuro da web com JAM Stack</h3>
                        <p>
                            Apresentação abordando como JAM Stack é usado e tem
                            ajudado e melhorar o desacoplamento entre regras de
                            negócio, interface, camada de dados fechando com live
                            code utilizando a Azion Technologies.
                        </p>
                        <a
                            href="https://speakerdeck.com/robsongajunior/construindo-o-futuro-da-web-com-jam-stack"
                            title="Construindo o futuro da web com JAM Stack"
                            target="_blank">

                            ver apresentação
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-content">
                        <h3>
                            Como JAM Stack ajudou crescer o time de Marketing na
                            Azion
                        </h3>
                        <!-- <p>
                            <strong>Data:</strong> 18/11/2021
                            <br>
                            <strong>Evento:</strong> Tche Linux
                        </p> -->
                        <p>
                            Essa apresentação tem o objetivo falar sobre arquitetura
                            JAM Stack usada na Azion. Será explicado <strong>"o que é JAM Stack"</strong>,
                            mostrado um casos de uso, também falaremos sobre
                            problemas/soluções e como montamos essa arquitetura
                            estática para o time de Marketing ter um processo mais
                            ágil na criação de páginas de presença web.
                        </p>
                        <a
                            href="https://speakerdeck.com/robsongajunior/como-jam-stack-ajudou-crescer-o-time-de-marketing-na-azion"
                            title="Como JAM Stack ajudou crescer o time de Marketing na Azion"
                            target="_blank">

                            ver apresentação
                        </a>
                        <p>
                            <strong>Assistir no Youtube:</strong>
                            <a href="https://www.youtube.com/watch?v=PjvxEvfTbY4" target="_blank">
                                https://www.youtube.com/watch?v=PjvxEvfTbY4
                            </a>
                        </p>
                    </div>
                </li>
                <li class="card">
                    <div class="card-content">
                        <h3>
                            O pensamento por trás de um desenvolvimento escalável.
                        </h3>
                        <p>
                            Com uma arquitetura JAM Stack primeiro projeto da Azion
                            utilizando Astro, agnóstico component library consumindo
                            Azion Edge Functions API.
                        </p>
                        <a
                            href="https://speakerdeck.com/robsongajunior/o-pensamento-por-tras-de-um-desenvolvimento-escalavel"
                            title="O pensamento por trás de um desenvolvimento escalável."
                            target="_blank">

                            ver apresentação
                        </a>
                        <p>
                            <strong>Assistir no Youtube:</strong>
                            <a href="https://www.youtube.com/watch?v=4pWXBLuCcsc" target="_blank">
                                https://www.youtube.com/watch?v=4pWXBLuCcsc
                            </a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</Default>

<style lang="scss" scoped>
    @import '../../../styles/breakpoints';

    .hero {
        align-items: center;

        @include media-breakpoint-up(sd) {
            display: flex;
        }
    }

    .figure-content {
        padding: 0;
        position: relative;
        overflow: hidden;
        text-align: center;
        min-width: 280px;

        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
            max-width: 50%;
        }

        @include media-breakpoint-down(sd) {
            margin-left: auto;
            margin-right: auto;
            max-width: 33%;
        }

        @include media-breakpoint-up(sd) {
            margin-right: 2rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 25%;
        }

        figure {
            background: linear-gradient(-71deg, var(--dark-strong), var(--dark), var(--dark-strong));
            border-radius: 8px;
            background-clip: padding-box;
            position: relative;
            border: 2px solid transparent;

            &::after {;
                border-radius: 8px;
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
                content: "";
                z-index: -1;
                background: linear-gradient(-71deg, var(--dark-strong), rgba(255, 255, 255, .5), var(--dark-strong));
            }

            img {
                width: 100%;
                display: block;
            }
        }

        a {
            display: inline-block;
            margin-inline-end: .5rem;
            line-height: 40px;
        }
    }

    .bio {
        .center-content {
            max-width: 960px;
        }

        .bio-content {
            text-align: right;

            @include media-breakpoint-up(sd) {
                display: flex;
                align-items: end;
                text-align: left;
            }

            blockquote {
                border-left: 4px solid var(--dark);
                text-align: left;
                padding: 1rem 0 0 1rem;

                @include media-breakpoint-up(sd) {
                    padding: 1rem 2rem;
                }
            }
        }

    }

    .card-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 2rem 0 0;
        padding: 0;
        align-content: stretch;
        gap: 1rem;

        .card {
            flex: 1;
            min-width: 320px;
        }

        .card-content {
            padding: 2rem;
            background: linear-gradient(71deg, var(--dark-strong), #191919, var(--dark-strong));
            border-radius: 80px;
            background-clip: padding-box;
            position: relative;
            border: 2px solid transparent;

            &::after {
                // z-index: 1;
                border-radius: 80px;
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
                content: "";
                z-index: -1;
                background: linear-gradient(71deg, var(--dark-strong), #454545, var(--dark-strong));
            }
        }
    }
</style>
