@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-Black.ttf') format('TrueType');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-BlackItalic.ttf') format('TrueType');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-Bold.ttf') format('TrueType');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-BoldItalic.ttf') format('TrueType');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-ExtraBold.ttf') format('TrueType');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-ExtraBoldItalic.ttf') format('TrueType');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-Italic.ttf') format('TrueType');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-Light.ttf') format('TrueType');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-LightItalic.ttf') format('TrueType');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-Medium.ttf') format('TrueType');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-MediumItalic.ttf') format('TrueType');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-Regular.ttf') format('TrueType');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-SemiBold.ttf') format('TrueType');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/static/fonts/Rubik/Rubik-SemiBoldItalic.ttf') format('TrueType');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
