---
import BornToBuildAndDeliver from '../BornToBuildAndDeliver.astro';
---
<section class="hero">
    <h1>
        <BornToBuildAndDeliver />
    </h1>
</section>

<style>
    .hero {
        width: 100%;
        height: 100vh;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .hero h1 {
        margin: auto;
    } 
</style>