---
import Blank from '../layouts/Blank.astro';
import Hero from '../components/blocking-builds/Hero.astro';
---

<Blank>
	<main>
		<Hero />
	</main>
</Blank>

<style lang="scss" scoped>
	main {
		padding: 0;
        background: linear-gradient(33deg, var(--dark), #000, var(--dark));
        background-size: 200% 200%;
        animation: animate 10s ease-in-out infinite
	}

    @keyframes animate {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
