---
import Blank from '../layouts/Blank.astro';
import Hero from '../components/blocking-builds/Hero.astro';
---

<Blank>
	<main>
		<Hero />
	</main>
</Blank>

<style scoped>
	main {
		padding: 0;
	}
</style>
