---
import Default from '../layouts/Blank.astro';
---

<Default>
	<h1>
		Build, Deliver <small>and</small> Repeat
	</h1>
	<section>
		<figure>
			<img
				src="/static/images/robsonjunior.png"
				alt="Robson Junior desenvolvendo uma feature web.">
		</figure>

	</section>
</Layout>
