---
---

<span class="borntobuildanddeliver">
    <strong>BORN<br></strong>TO<strong>BUILD</strong><br>AND<strong>DELIVER</strong>
</span>

<style lang="scss" scoped>
    .borntobuildanddeliver {
        font-weight: 200;
        color: var(--light);
    }
    strong {
        font-weight: 900;
    }

    br {
        display: none;
    }
</style>
