---
---

<span class="borntobuildanddeliver">
    <strong>BORN</strong>TO<strong>BUILD</strong><br>AND<strong>DELIVER</strong>
</span>

<style lang="scss" scoped>
    @import '../styles/breakpoints';

    .borntobuildanddeliver {
        font-weight: 200;
        color: var(--light);
        padding: 1rem;
    }

    strong {
        font-weight: 900;
    }

    br {
        @include media-breakpoint-down(sd) {
            display: inline;
        }

        @include media-breakpoint-up(sd) {
            display: none;
        }
    }
</style>
