---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import LogoShort from "./LogoShort.astro";
---

<header id="header">
    <nav>
        <LogoShort href="/" title="https://www.robsonjunior.dev/" />

        <div class="internal-links">
            <HeaderLink href="/sobre/">sobre</HeaderLink>
            <!-- <HeaderLink href="/blog/">
                blog
            </HeaderLink> -->
            <HeaderLink href="https://medium.com/@robsongajunior/">
                medium
            </HeaderLink>
            <HeaderLink href="https://robsongajunior.github.io/">
                github.io
            </HeaderLink>
        </div>
    </nav>
</header>

<script is:inline>
(function () {
    let lastScrollTop = 0;
    let showHeader = true;
    let f = {};
    let header = document.querySelector("#header");

    f.up = function () {
        if (showHeader === true) return;
        console.log(`up`);
        showHeader = true;
    };

    f.down = function () {
        if (showHeader === false) return;
        console.log(`down`);
        showHeader = false;
    };

    window.addEventListener(
        "scroll",
        function (e) {
            if (e.scrollY === lastScrollTop) return;

            let direction = this.scrollY < lastScrollTop ? "up" : "down";
            lastScrollTop = this.scrollY;

            if (typeof f[direction] !== "function") return;

            f[direction]();
        },
        true,
    );
})();
</script>

<style lang="scss">
    header {
        width: 100%;
        height: 80px;
        margin: 0;
        padding: 0 1em;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        top: 0;
        z-index: 999;
        position: sticky;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            padding: .5rem 0.5rem;
            color: var(--median);
            border-bottom: 1px solid transparent;
            text-decoration: none;
            font-size: 0.8rem;

            &.active {
                text-decoration: none;
                color: var(--dark);
                // border-bottom-color: var(--accent);
            }
        }
    }

    .social-links,
    .social-links a {
        display: flex;
    }

    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
