---
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
---

<header>
	<nav>
		<Logo href="/" title="https://www.robsonjunior.dev/" />

		<div class="internal-links">
			<HeaderLink href="/sobre/">sobre</HeaderLink>
			<HeaderLink href="https://medium.com/@robsongajunior/">medium</HeaderLink>
            <HeaderLink href="https://robsongajunior.github.io/">github.io</HeaderLink>
		</div>
	</nav>
</header>

<style lang="scss">
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--dark);
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

        a {
            padding: 1em 0.5em;
            color: var(--median);
            border-bottom: 4px solid transparent;
            text-decoration: none;

            &.active {
                text-decoration: none;
                border-bottom-color: var(--accent);
            }
        }
	}

	.social-links,
	.social-links a {
		display: flex;
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
