---
const { posts } = Astro.props
---

<ul class="post-list">
{
    posts.map((post, index) => (
    <li class="post-item">
        <div class="post">
            <a href=`/${post.slug}/` title={ post.data.title }>
                <div class="post-content">
                    <figure class="post-figure">
                        <img src={ post.data.heroImage } alt={ post.data.heroAltImage } />
                    </figure>
                    <h3>
                        { post.data.title }
                    </h3>

                    <p>
                        { post.data.meta_description }
                    </p>
                </div>
            </a>
        </div>
    </li>
    ))
}
</ul>

<style lang="scss" scoped>
    @import '../styles/breakpoints';

    .post-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr;

        @include media-breakpoint-up(sd) {
            grid-template-columns: 1fr 1fr
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 1rem 0 1rem;

            @include media-breakpoint-up(md) {
                margin: 0
            }
        }
    }

    .post-item {
        margin: 0;
        padding: 0;
    }

    .post {
        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .post-figure {
            @include media-breakpoint-up(md) {
                width: 40%;
                margin-right: 1rem;
                float: left;
            }

            margin: 0;
            padding: 0;
        }

        .post-content {
            h3 {
                font-size: 1rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.25rem;
                }
            }
        }
    }
</style>
