<div id="shadowMouseMove"></div>

<style is:global>
    #shadowMouseMove {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }
</style>

<script is:inline>
    const shadowMouseMove = document.getElementById('shadowMouseMove');

    document.addEventListener('mousemove', (e) => {
        shadowMouseMove.style.background = `
            radial-gradient(
                600px at ${e.clientX}px ${e.clientY}px,
                rgba(111, 111, 111, 0.175),
                transparent 80%
            )
        `;
    });
</script>
