---
const { ...props } = Astro.props;
---

<ul class="title-list-post">
    <li class="title-item-post">
        <a href="">
            <h2>
                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
            </h2>
            <p>
                Com a execução de Edge Functions podemos facilmente escrever pedaços de códigos cruciais para o negócio mas que não exatamente teríamos como configurar um servidor, segurança e todos aqueles items que todos nós já conhecemos.
            </p>
        </a>
    </li>
    <li class="title-item-post">
        <a href="">
            <h2>
                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
            </h2>
            <p>
                Com a execução de Edge Functions podemos facilmente escrever pedaços de códigos cruciais para o negócio mas que não exatamente teríamos como configurar um servidor, segurança e todos aqueles items que todos nós já conhecemos.
            </p>
        </a>
    </li>
    <li class="title-item-post">
        <a href="">
            <h2>
                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
            </h2>
            <p>
                Com a execução de Edge Functions podemos facilmente escrever pedaços de códigos cruciais para o negócio mas que não exatamente teríamos como configurar um servidor, segurança e todos aqueles items que todos nós já conhecemos.
            </p>
        </a>
    </li>
    <li class="title-item-post">
        <a href="">
            <h2>
                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
            </h2>
            <p>
                Com a execução de Edge Functions podemos facilmente escrever pedaços de códigos cruciais para o negócio mas que não exatamente teríamos como configurar um servidor, segurança e todos aqueles items que todos nós já conhecemos.
            </p>
        </a>
    </li>
</ul>

<style lang="scss" scoped>
    @import '../styles/breakpoints';

    .title-list-post {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 2rem;
        display: grid;
        grid-template-columns: 1fr;

        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 1fr  1fr 1fr;
        }

        .title-item-post {
            width: 100%;

            h2 {
                font-size: 1rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.25rem;
                }
            }
        }
    }
</style>
