---
// import {
//     KBarProvider,
//     KBarPortal,
//     KBarPositioner,
//     KBarAnimator,
//     KBarSearch
// } from "kbar";

// const actions = [
//     {
//         id: "blog",
//         name: "Blog",
//         shortcut: ["b"],
//         keywords: "writing words",
//         perform: () => (window.location.pathname = "blog")
//     },
//     {
//         id: "contact",
//         name: "Contact",
//         shortcut: ["c"],
//         keywords: "email",
//         perform: () => (window.location.pathname = "contact")
//     }
// ];
import Kbar from '../components/react/kbar.tsx'
import BaseHead from '../components/BaseHead.astro';
const { title='', description=''} = Astro.props;
---

<html lang="pt-BR">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
        <Kbar client:load/>
		<slot />
	</body>
</html>
