---
import Head from "../components/Head.astro";
import Header from "../components/blocking-builds/Header.astro";
import Kbar from "../components/react/Kbar/Kbar.jsx";
import NavigationRight from "../components/vue/NavigationRight.vue";

const {
    lang,
    title,
    description,
    robots
} = Astro.props;
---

<html lang={lang}>
    <head>
        <Head
            title={title}
            description={description}
            robots={robots}/>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-PD9CKQS5"
                style="display:none;visibility:hidden"
                width="0"
                height="0">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <Kbar client:load />
        <Header />
        <NavigationRight client:load />
        <main>
            <slot>
        </main>
    </body>
</html>
