---
import BaseHead from '../components/BaseHead.astro';
import Kbar from '../components/react/Kbar/Kbar.tsx'
const { title='', description=''} = Astro.props;
---

<html lang="pt-BR">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
        <Kbar client:load/>
		<slot />
	</body>
</html>
