---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Kbar from '../components/react/Kbar/Kbar.tsx'
const { title='', description='' } = Astro.props;
---

<html lang="pt-BR">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-PD9CKQS5"
                height="0"
                width="0"
                style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <Kbar client:load/>
        <Header />

        <main>
            <slot />
        </main>
	</body>
</html>
