---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Kbar from '../components/react/Kbar/Kbar.tsx'
const { title='', description='' } = Astro.props;
---

<html lang="pt-BR">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
        <Kbar client:load/>
        <Header />

        <main>
            <slot />
        </main>
	</body>
</html>
