---
import { getCollection } from 'astro:content'
import Default from '../../../layouts/Default.astro'
import i18nConfig from '../.././../i18n/config'
// import FormattedDate from '../../../components/FormattedDate.astro'
import FeaturedPost from '../../../components/FeaturedPost.astro'
import TitleListPost from '../../../components/TitleListPost.astro'
import ImageTitlePostList from '../../../components/ImageTitlePostList.astro'
import LineDivisor from '../../../components/LineDivisor.astro'


export async function getStaticPaths() {
    // const posts = (await getCollection('blog')).sort(
    //     (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
    // );

    const posts = await getCollection('blog')

    const groupPagesByLang = (pages) =>
        pages.reduce((pages, page) => {
            const lang = page.slug.split('/')[0];

            if (!pages[lang]) {
                pages[lang] = [];
            }

            pages[lang].push(page);

            return pages;
        }, {}
    );

    const getPageByLangCollection = (collection, lang) => {
        return groupPagesByLang(collection)[lang]
    }

    return i18nConfig.langs.map((lang) => {
        const postsByLang = getPageByLangCollection(posts, lang);

        return {
            params: {
                lang: lang
            },
            props: {
                lang: lang,
                posts: postsByLang.sort(
                    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
                )
            }
        }
    })
}

let { posts } = Astro.props
---
<Default title="blog">
    <div class="center-content">
        <FeaturedPost post={ posts[0] } />
    </div>
    <div class="center-content">
        <LineDivisor />
    </div>
    <div class="center-content">
        <TitleListPost posts={ posts.length ? posts.slice(1, 5) : [] } />
    </div>
    <div class="center-content">
       <LineDivisor />
    </div>
    <div class="center-content">
        <ImageTitlePostList posts={ posts.length ? posts.slice(5) : [] } />
    </div>

    <!--
    <div class="center-content">
        <button class="">
            carregar mais
        </button>
    </div>
     -->
</Default>

